#register {
    color: rgba(70, 163, 88, 1);
}

#login {
    color: rgba(61, 61, 61, 1);
}

button {
    background-color: rgba(70, 163, 88, 1) ;
    color: white;
    width: 300px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid rgba(70, 163, 88, 1);
    
}

.loginClass {
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
}

.form-input {
    border-radius: 1px;
    height: 40px;
    width: 300px;
    border: 1px solid grey;
}

.text {
    line-height: 16px;
    font-weight: 255px;
}

.link {
    width: 149px;
    height: 16px;
    color: rgba(114, 114, 114, 1);
    text-decoration: none;
}